.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 152px;
  position: relative;
  height: 152px;
  font-weight: bold;
  color: #fff;
  background-color: #8b5e3c;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  border: 5px solid #fff;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 15px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .circular-text {
    width: 120px;
    height: 120px;
  }

  .circular-text span {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .circular-text {
    width: 100px;
    height: 100px;
  }

  .circular-text span {
    font-size: 12px;
  }
}
