body.light-theme {
  --bg-color: #ffffff;
  --text-color: #333333;
  --navbar-bg: #f6f2ee;
  --navbar-text: #1c1c1c;
  --logo-bg: #8b5e3c;
}

body.dark-theme {
  --bg-color: #1a1a1a;
  --text-color: #e0e0e0;
  --navbar-bg: #2d2d2d;
  --navbar-text: #e0e0e0;
  --logo-bg: #a67c52;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.navbar {
  background: var(--navbar-bg);
 
}

.nav-links a {
  color: var(--navbar-text);
}

.logo-icon {
  background-color: var(--logo-bg);
}

.logo-text {
  color: var(--navbar-text);
}